.navbar {
     background: #CDDC39;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #fff;
    background: #7D923C;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #fff;
    background: #7D923C;
}

p {
    font-size: 130%;
}

.customh2 {
    font-size: 180%;
}

.row-content {
    margin:0px auto;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer {
    background-color: #CDDC39;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.crop-img {
  max-height:200px;
  max-width:100%;
}

.crop2x-img {
  max-height:300px;
  max-width:100%;
}

.large-img {
  max-width:100%;
}

.top-buffer { 
    margin-top:20px;
}

.bottom-buffer { 
    margin-bottom:40px;
}
 
.thumbnail, .large-img, .crop2x-img {
  border-radius: 25px;
  padding-top:5px;
}

.thumbnail {
  box-shadow: 10px 10px 5px #888888;
}